html,
body {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 100px;
}

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
}

/* flip the pane when hovered */
/* .flip-container:hover .flipper,
.flip-container.hover .flipper {
  transform: rotateX(180deg);

} */

.flip-container,
.front,
.back {
  width: 320px;
  height: 480px;
}

/* flip speed goes here */
.flipper {
  transition: all 0.6s;
  transform-style: preserve-3d;

  position: relative;
  transform-origin: center;
}

/* hide back of pane during swap */
.front,
.back {
  backface-visibility: hidden;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background-clip: padding-box;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
  background-color: bisque;
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
  background-color: aqua;
}